/* Bookmark.js */
#bookmarkWrapper{
    margin-top: 100px;
}
    #bookmarkItemsWrapper{
        display: flex;
        flex-wrap: wrap;
    }
    #bookmarkItemsWrapper > .myClass{
        display: flex;
        flex-direction: column-reverse;
    }

/* rendercard.js */
.bookmarkControlsWrapper{
    display: flex;
    justify-content: space-evenly;
}
.bookmarkControlsWrapper > button{
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}