/* Bookmark.js */
#bookmarkWrapper{
    /* margin-top: 100px; */
}
    #bookmarkItemsWrapper{
        display: flex;
        flex-wrap: wrap;
       
    }
    #bookmarkItemsWrapper > .myClass{
        display: flex;
        flex-direction: column-reverse;
    }



/* Remove Bookmark */




@media (min-width: 768px){
    #bookmarkItemsWrapper{
        margin-top: 55px;
        position: absolute;
    }
}