.onCardControls{
    background-color: #00000066;
    display: flex;
    line-height: 0;
    padding: 1px;
    position: absolute;
        right: 0;
        top: 0;
    
        z-index: 1;
}

    .onCardControls > div > button, .onCardControls > div > div > button{
        background-color: inherit;
        color: white;
        height: auto; 
        width: auto;
    }

    .onCardControls > div > button > span{ opacity: 0.5; }
    .onCardControls > div > button > span:hover{ opacity: 2; }
        .increaseCardBookmarkOpacity{opacity: 2 !important;}

        .onCardBookmarkedButton:hover{
            /* outline: 10px solid red; */
        }


/* tESTING */
.onCardControls > p{
    align-self: flex-end;
    color: white;
}

/*  */
.onCardSocialScore > button > span{
    cursor: default;
}