/* NewMap Class */
.news-square{
    border:5px solid white;
    display: flex;
    flex: auto;

    /* Default */
    width: 260px;
    

    /* Small */
    /* width: 200px; */
}

#saveScroll{
    position: fixed;
    right: 0;
    bottom: 1vh;
    z-index: 1;
}

#scrollTo{
    position: fixed;
    left: 0;
    bottom: 1vh;
    z-index: 1;
}

#scrollToTop{
    left: 45%;
    bottom: 1vh;
    margin: 0 auto;
    position: fixed;
    z-index: 1;


}


