.tagbar-wrapper{
    /* margin-top: -8px; */
    position: fixed;
    width: 100%;
    left: 0;
}
    .tagbar-wrapper ul {
        display: flex;
        flex: 1;
        list-style: none;
        margin: 0 auto;
        max-width: 500px;
        padding-left: 0;
        text-align: center;
    }
        .tagbar-wrapper ul a{
            /* outline: 1px solid red; */
            background-color: black;
            border-top:5px solid black;
            color: white;
        }
            .tagbar-wrapper ul a:hover{
                background-color: white;
                color: black;
                text-decoration: underline;
            }
        .tagbar-wrapper ul li{
            /* outline: 1px solid black; */
            margin: 0 auto;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 90%;
        }

    @media (min-width: 768px) {
        .tagbar-wrapper{
            /* margin-top: 29px; */
        }
    }