.news-page-wrapper{
    /* border: 1px solid; */
    /* width: 90%; */
    margin: 0 auto;
    margin-top: 1vh;
    /* max-width: 1920px; */

}
    .article-banner-image-wrapper{
        display: flex;
    }
/* Needs Desktop CSS */

/* ..... */
.news-page-wrapper > #bookmarkControls{
    /* border: 1px solid red; */
    text-align: center;
}
#bookmarkControls > .onCardControls > div {
    position: relative;
    display: inline-flex;
}
    #bookmarkControls > .onCardControls > .markAsReadButtonWrapper{
        /* visibility: hidden; */
    }






