.news-page-wrapper{
    /* border: 1px solid; */
    /* width: 90%; */
    margin: 0 auto;
    margin-top: 0vh;
    /* max-width: 1920px; */

}
.article{
    outline: 1px solid #ececec;
    /* background-color: black; */
    /* color: white; */
    max-width: 112rem;
    margin: 0 auto;
    box-shadow: -20px 14px #56505059;
}
/* Needs Desktop CSS */

/* ..... */








