/* *{border: 1px solid red;} */
/* Article Information */
.articleInformation{
    color: grey;
    display: flex;
        flex-wrap: wrap;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;

}
    .articleInformation > div{
        /* outline: 1px solid purple; */
        display: flex;
        margin-right:5px;
        
        /* width:100%; */
    }
        .articleInformation > div > *{
            /* padding: 10px; */
        }
        .articleInformation > div > :nth-child(1){
            /* background-color: red; */
            margin-right: 5px;
        }

        .articleInformation > div > :nth-child(2){
            /* background-color: #6c757d; */
            color: black;
            /* font-weight: bold; */
            padding: 2px;
            text-decoration: underline;
        }

/* Header Image Text */
.articleInformation > div > a:hover{
    /* color: red; */
}


#articleLine{
    /* outline: 1px solid red; */
    height: 60px;
    position: fixed;
    left: 0%;
    width: 100%;
    z-index: 1;
    /* background-color: red; */
    animation: lineAnimation 1s;
}

@keyframes lineAnimation {
    0%{height: 0;}
    50%{height: 0;}
    100%{height: 60px;}
}

@media (max-width:768px){
    #articleLine{height: 5px;}
    @keyframes lineAnimation {
        0%{height: 0;}
        50%{height: 0;}
        100%{height: 5px;}
    }
}

@media (min-width:1700px){
    .bannerImageTextWrapper > .articleInformation, .articleContent > .articleInformation{
        /* display: none; */
    }
    .bannerImageTextWrapper > .articleInformation{
        background-color: black;
        color: white;
        display: none;
        height: auto;
        position: absolute;
            right: 0;
        width: auto;

    }
    .bannerImageTextWrapper > .articleInformation > div > :nth-child(1){
        color: white;
    }
    .bannerImageTextWrapper > .articleInformation > div > :nth-child(2){
        color: white;
    }


}