#scrollToTop{
    background-color: white;
    bottom: -0.1vh;
    border: 1px solid rgb(185, 185, 185);
    height: 2rem;
    left: 45vw;
    margin: 0 auto;
    position: fixed;
    /* border-radius: 10px; */
    width: 6rem;
    z-index: 1;


}

@media (max-width: 768px){
    #scrollToTop{
        left: -100vw;
    }
}