.recReadingWrapper{
    border-top: 1px solid black;
    margin:  0 auto;
    max-width: 1200px;
}
.recReadingItemWrapper{
    border-top: 1px solid black;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}
    .recReadingItem{
        /* border: 1px solid black; */
        /* box-shadow: 0px 0px 0px 0px black; */
        flex: 1 1;
        /* widows: 200px; */
    }
        .recReadingItem a{
            color: white;
            text-decoration:none;
        }
    
    .recReadingItem div{
        background-color: black;
        color: white;
        display: flex;
        height: 100%;
        margin: 0 auto;
        width: 75%;
    }