/* Extra Images */
.extra-images, .extra-text{
    display: none;
}

@media (min-width: 1600px) {


    .extra-images{
        display: block;
        flex:1;
    }
        .extra-images img{
            width: 100%;
        }
}


@media(min-width: 1921px){
    .extra-banner-image{
        display: flex;
    }
}