
#cardArea{
    width: 100%;
}
#cardArea > span{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

    .cardsWrapper{
        display: flex;
            flex-wrap: wrap;
        margin-top: 5vh;
    }

/* Hide Article Message  */
#hideArticleMessageWrapper{
    background-color: white;
    border: 10px solid #a0a0a0;
    bottom: 10px;
    right: 0;
    max-width: 300px;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 30;
}
    #hideArticleMessage{
        font-weight: 900;
        visibility: hidden;
    }


