
    .news-item-loop-wrapper{
    /* background-color: blue; */
    /* border-radius: 10px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    /* max-width: 1600px; */
    }

    .news-item-loop-wrapper img{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .newsItemLoopViewWrapper{
        /* background-color: blue; */
        /* border-radius: 10px; */
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        margin: 0 auto;
        position: relative;
        
    }
    .newsItemLoopViewWrapper > div{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
        .myClass{
            display: flex;
            flex: 1 1;
            position: relative;
        }
    .hideArticleBtn{
        background-color: black;
        color: white;
        position: absolute;
        z-index: 1;
        right: 5px;
        top: 5px;
        padding: 20px;
        cursor: pointer;

    }



#test__articleWrapper{
    background-color: red;
    display: block;
    height: 94vh;
    position: fixed;
    text-align: center;
    top: 5.5vh;
    width: 100%;
    z-index: 10000;
    
    
   
}
#speedKnewsWrapper{max-width: 1500px;}
    .speedKnewsArticleContainer{
        margin-bottom: 100px;
    }
    .speedKnewsArticleContainer header {
        margin-bottom: 2.5rem;
        min-width: 25%;
    }
    .speedKnewsArticleContainer header  div{min-width: 25vw;}
        .speedKnewsArticleContainer header h2, .speedKnewsArticleContainer header h3, .speedKnewsArticleContainer header span{
            display: block;
            margin: 0 auto;
            margin-top: 1rem;
            text-align: left;
            width: 90%;
        }
    /* .speedKnewsArticleContainer header{ max-width: 1000px;} */
    
    .speedKnewsArticleContainer article p{margin-top: 0;}
#speedKnewsControls{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}
#speedKnewsControls span{
    display: flex;
    width: 100%;

}

#speedKnewsButtonWrapper {
    position: relative;
    left: 0;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

    #speedKnewsButtonWrapper button{
        background-color: black;
        color: white;
        cursor: pointer;
        font-size: 2rem;
        width: 100%;
        
    }

@media (min-width: 1700px) {
    #speedKnewsWrapper{
        /* max-width: 1500px; */
    }
}
@media (min-width: 1200px) {

    .speedKnewsArticleContainer header h2, .speedKnewsArticleContainer header h3, .speedKnewsArticleContainer header span{
        margin-bottom: 1rem;
        margin-top: 2rem;
        text-align: center;
        width: 90%;
    }
    .speedKnewsArticleContainer header{
        /* background-color: red; */
        float: left;

        
        /* height: 90vh; */
    }
        .speedKnewsArticleContainer header div{
            /* margin-top: 30vh; */
            /* border: 1px solid yellow; */
            height: auto;
            min-height: 400px;


        
        }
    .speedKnewsArticleContainer article{
        /* border: 10px solid black; */
        display: flow-root;
    }
} 

@media (min-width: 768px) {
.home-wrapper{
    margin: 0 auto;
    /* width: 90%; */
}
.news-item-wrapper{
    margin-top: 119px;
}
}

