
#cardArea{
    width: 100%;
}
#cardArea > span{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

    .cardsWrapper{
        /* background-color: red; */
        display: flex;
            flex-wrap: wrap;
        margin-top: 55px !important;
    }

/* Hide Article Message  */
#hideArticleMessageWrapper{
    background-color: white;
    border: 10px solid #a0a0a0;
    bottom: 10px;
    right: 0;
    max-width: 300px;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 30;
}
    #hideArticleMessage{
        font-weight: 900;
        visibility: hidden;
    }

.blankLoopMessage{

}

.blankLoopMessage{
    /* Centering the div */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    cursor: default;
    display: flex;
        flex-direction: column;
        align-items: center;
    opacity: 0.5;
    text-align: center;
}
.blankLoopMessage > span{
    font-size: 25vh;
    opacity: 0.25;
}

/* To make this work i will need to change what each card layout does in each page layout. */

/* Dual Column */
/* .CardWrapper */
/* 
    flex-flow:wrap
    max-width:600px

*/
/* 3x Column
.CardWrapper
    flex-flow:wrap
    max-width:800px

*/