/* Caption Class */
.news-item-link{
    width: 100%;
    background-color: white;
    display: contents;
}

    .news-item-link{
        position: relative;
    }

        .news-item-link-text{
            bottom: 0;
            width: 100%;
            /* border: 5px solid red; */
            position: absolute;
            margin: 0;
            padding: 0;
            background-color: #000000b8;
            color: white;
        }
        #news-item-link-text-title{
            display: block;
            font-size:inherit;
            height: 75px;
            overflow: hidden;
            padding: 5px;
        }

        .news-item-link-text p{
            font-style: italic;
            text-align: right;
        }
            #news-item-link-text-title{}
            #news-item-link-text-tag-author-wrapper{
                display: flex;
                justify-content: space-around;
               
            }

            

        .hover-caption{
            visibility: hidden;
        }


@media (min-width: 765px){
    /*  */
}
@media (min-width: 1000px){
    .hover-caption{
        visibility: visible;
        background-color: none;
        opacity: 0.5;
        transition: opacity 1s smooth ;
        
    }
    :hover > .hover-caption{
        background-color: #ffffff91;
        opacity: 2.0;
    }
        .hover-caption p{
            font-size: 3rem;
            text-align: center;
            margin: 0;
            width: 100%;
            position: a;
            /* margin-top: 87px; */
            /* height: 20%; */
            position: absolute;
            top: 125px;
        }
}

/* Back of Card Test */

.backOfCardWrapper{
    /* background-color: red; */
    outline: 1px solid red;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    /* transition:5s; */
    width: 100%;


}

.showThing{
    background-color: #0000004d;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.addHeight{
    /* height: 374px; */
    animation:heightAnimation 0.1s;
    animation-fill-mode: forwards;
    
}
.removeHeight{
    animation: removeHeight 0.1s;
    animation-fill-mode: forwards;
}

@keyframes heightAnimation{
    0%{height:auto}
    50%{height:50%}
    100%{height: 100%;}
}

@keyframes removeHeight{
    0%{height:100%}
    50%{height:50%}
    100%{height:auto ;}
}
