/* Caption Class */
.news-item-link{
    width: 100%;
    background-color: white;
}
    .news-item-link{
        position: relative;
    }

        .news-item-link-text{
            bottom: 0;
            width: 100%;
            /* border: 5px solid red; */
            position: absolute;
            margin: 0;
            padding: 0;
            background-color: #000000b8;
            color: white;
        }
        #news-item-link-text-title{
            display: block;
            font-size:18px;
            height: 75px;
            overflow: hidden;
            padding: 5px;
        }

        .news-item-link-text p{
            font-style: italic;
            text-align: right;
        }
            #news-item-link-text-title{}
            #news-item-link-text-tag-author-wrapper{
                display: flex;
               
            }
                #news-item-link-text-tag, #news-item-link-text-author{
                    flex: 1;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    text-align: center;

                }
            

        .hover-caption{
            visibility: hidden;
        }


@media (min-width: 765px){
    /*  */
}
@media (min-width: 1000px){
    .hover-caption{
        visibility: visible;
        background-color: none;
        opacity: 0.5;
        transition: opacity 1s smooth ;
        
    }
    :hover > .hover-caption{
        background-color: #ffffff91;
        opacity: 2.0;
    }
        .hover-caption p{
            font-size: 3rem;
            text-align: center;
            margin: 0;
            width: 100%;
            position: a;
            /* margin-top: 87px; */
            /* height: 20%; */
            position: absolute;
            top: 125px;
        }
}