/* Home Page Hide Button */
.myClass{
    color: black;
    display: flex;
    flex: 1 1;
    margin: 3px;
    /* opacity: 2; */
    position: relative;
}
    .myClass:hover{ outline: 2px solid black; }
    
/* NewMap Class */
.news-square{
    display: flex;
    flex: auto;
    /* Compact */
    width: 470px;
    height: 120px;
    /* animation: animateCardsIn 2s; */
}

@keyframes animateCardsIn {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 2;
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion) {

    @keyframes animateCardsIn {
        0%{
            opacity: 2;
            transform: translateY(0%);
        }
        100%{
            opacity: 2;
            transform: translateY(0);
        }

    }
  }
    .news-square:hover{ border-radius: 1%; }


    .markedAsHideOverlayWrapper{
        background-color: #000000b3;
        display:flex;
        align-items: center;
        height: 100%;
        outline: 1px solid red;

        position: absolute;
        text-align: center;
        
        width: 100%;
        
    }
    .markedAsHideOverlayWrapper > div{
        background-color: white;
        display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

        outline: 1px solid black;
        -ms-flex-align: center;
        width: 100%;
    }
    .displayFlex{
        display: flex;
    }

    .undoHideButton{
        background-color: #404040;
        /* outline: 1px solid red; */
        cursor: pointer;
        display: flex;
            justify-content: space-evenly;
        width: 100%;
    }
    .undoHideButton > span{
        color: white;
        display: flex;
            align-items: center;
            justify-content: space-around;
        /* outline: 1px solid peru; */
        width: 30%;
    }
    .undoHideButton > span > .material-icons{font-size: 30px;}

.swipeIndicatorBookmark{
    display: flex;
        align-items: flex-end;
        flex-direction: column;
    text-align: right;
    
}

.swipeIndicatorHide{
    display: flex;
        flex-direction: column;
}
    .swipeIndicatorHide > span:nth-child(1),
    .swipeIndicatorBookmark > span:nth-child(1){
        font-size: xx-large;
    }

.displaySwipeText{ animation: showText 3s; }
@keyframes showText {
    0%{opacity: 0;}
    100%{opacity: 2;}
}

.displaySwipeText2{ animation: showText2 3s; }
@keyframes showText2 {
    0%{opacity: 0;}
    100%{opacity: 2;}
}

@media (max-width: 550px) { .news-square{ width: 300px !important; } }
    
/* Bookmarks */
.markAsRead{opacity: 0.5; }
/* .true{opacity: 0.5;} */
/* .false{opacity: 2.0;} */
/* .markAsUnread{opacity: 2; } */



/* .swipeable-list-item__content{opacity: 0 !important;} */
.myClass > div > div > .swipeable-list-item__content-right,
.myClass > div > div > .swipeable-list-item__content-left{
    background-color: #6c757d;
    color:rgb(197, 197, 197);
    /* opacity: 2.0 !important; */
}