/* *{outline:1px solid red} */
.articleWrapper{ min-height: 100vh; margin: 20px; }

    .articleContent{
        display: flex;
            flex-wrap:wrap;
            align-items: center;
            align-content: flex-start; 
        margin:0 auto;
        width: 80%;
    }

/* Message that displays when you hide an article */
.hideArticleInfoWrapper{
    /* outline: 1px solid red; */
    color: #00000085;
}
    .showHideMessage{
        opacity: 2;
        animation: showMessage 2s;
    }
        @keyframes showMessage {
            0%{opacity: 0;}
            50%{opacity: 2}   
        
        }

    .hideHideMessage{
        opacity: 0;
        /* animation: hideMessage 1s; */
    }
        @keyframes hideMessage {
            0%{opacity: 2;}
            50%{opacity: 0}   
        
        }

/* Article Headline */
    .articleHeadline{ width: 100%; }


/* Confirm Hide */
.hideArticleDialogueBox{
    /* Centering the div */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    background-color: #00000099;
    /* border: 5px solid black; */
    display: flex;
        align-items: center;
        justify-content: center;

    height: 100%;
    width: 100%;

}
    .hideArticleDialogueBox > div{
        background-color: white;
        display: flex;
            align-items: center;
            flex-direction: column;
        outline: 5px solid black;
        padding: 25px;
        text-align: center;
    }
        #confirmHideButtons{
            display: flex;
                align-items: center;
                justify-content: space-evenly;
                /* flex-direction: column; */
            width: 50%;
        }
        #cancelHideButtons{            
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /* flex-direction: column; */width: 100%;
        }
        #confirmHideBox > p{
            margin-top: 1rem;
            width: 50%;
        }
        #cancelHideBox > p{margin-top: 1rem; width: 100%;}

            .hideArticleDialogueBox > div > div > span{
                cursor: pointer;
                color: black;
                /* outline: 1px solid red; */
                text-align: center;
                text-decoration: underline;
                width: 100%;
            }

/* Author Social */
.authorSocial{ display: flex; height: min-content; }
    .authorSocial > span{ padding: 5px; width: auto; }
    .authorSocial > span > img{ width: 32px; }

/* Article Body */
    .articleBody{ margin-top:20px; width:100%; }
        .articleBody > article > p{
            font-size: 16px;
            margin: 0;
                margin-bottom: 7px;
                margin-top: 7px;
            padding: 0;
            width: auto;
        }

/* Post Article Notes */
.postArticleBody{ color: grey; width: inherit; }
.bannerImageTextWrapper{ display: none; }

@media (max-width:767px){ .articleContent{width: 100%;} }

@media (min-width:1000px){
    .headerWrapper{position:fixed}
    .article-banner-image{
        display: flex;
            align-items: center;
            justify-content: center;
        height: 100vh;
        float: left;
        position: fixed;
        width: 50%;
        margin-top: 4vh;
    }
    .articleWrapper{
        display: flex;
            align-items: center;
        float:right;
        width:50%;
        margin:0;
            /* margin-top:50px; */
        padding:20px;
    }
    .articleContent{ padding: 40px; }
    .articleBody > article > p{font-size: 18px;}

}


@media (max-width:700px){
    #confirmHideButtons, #cancelHideButtons{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
@media (min-width:1700px){
    .bannerImageTextWrapper{ display: block; }
    .articleHeadline{ height: 0; visibility: hidden; }
}

/* Move to header.css at some point */
.bannerImageTextWrapper > h1{
    background-color: black;
    color: white;
    display: inline;
    text-transform: uppercase;
    font-size: 100px;
}

@media (min-width:3000px){
    .articleInformation{ font-size: 2rem; }
    .articleBody{ font-size: 2rem; }
}