h1,h2,h3,h4,h5,h6{
    font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.recReadingWrapper{
    background-color: black;
    display: block;
    flex-wrap: wrap;
    /* outline: 10px solid black; */
    padding: 5px;
    position: relative;

}
    .recReadingWrapper > h2{
        color: grey;
        font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        width: 100%;
    }
    .recReadingItem{
        border-top: 1px solid black;
    }
        .recReadingItem > a > h3{
            color: white;
        }
        .recReadingItem > a > p{
            color: grey;
        }


@media (min-width: 768px) {
    .recReadingWrapper{
        display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        /* max-width: 1200px; */
        margin: 0 auto;
        width: 100%;

    }
    .recReadingItem{
        margin: 5px;
        /* flex: 1; */
        max-width: 400px;
        width: 100%;
    }

            .recReadingItem > a > img{
                /* height: 125px; */
            }
}
@media (max-width: 768px) {
    .recReadingItem{
        margin: 0 auto;
        max-width: 75%;
    }
}