h1,h2,h3,h4,h5,h6{
    font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.recReadingWrapper{
    background-color: black;
    display: block;
    flex-wrap: wrap;
    /* outline: 10px solid black; */
    padding: 5px;
    position: relative;

}
    .recReadingWrapper > h2{
        color: grey;
        font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        width: 100%;
    }
    .recReadingItemsWrapper{
        display: flex; 
            flex-direction: column;
        width: 100%;}
        .recReadingItem{
            border-top: 1px solid black;
            background-color: red;
            min-height: 150px;
            width: 100%;
            /* outline: 1px solid white; */
        }
            .recReadingCaption{padding: 5px;}
                .recReadingCaption > a > span{
                    background-color: black;
                    color: white;
                    font-size: 1.35rem;
                    margin: 0;
                    padding: 0;

                    font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
                    text-transform: uppercase;
                }
                    .recReadingCaptionArticleInfo{
                        display: flex;
                            justify-content: space-evenly;
                        /* outline: 1px solid red; */
                    }
                    .recReadingCaptionArticleInfo > span{
                        background-color: black;
                        color: white;
                        font-family: fantasy,Verdana, Geneva, Tahoma, sans-serif;
                        margin: 5px;
                        height: fit-content;
                        width: min-content;
                        /* text-transform: uppercase; */

                    }
                /* .recReadingCaption > a > p{
                    color: grey;
                    margin: 0;
                    padding: 0;
                } */


@media (min-width: 768px) {
    .recReadingItemsWrapper{align-items: center;}
    .recReadingWrapper{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;

    }
    
    .recReadingItem{
        margin: 5px;
        /* flex: 1; */
        /* max-width: 400px; */
        width: 75%;
    }

            .recReadingCaption > a > img{
                /* height: 125px; */
            }
}

@media (min-width: 1000px) {
    .recReadingItemsWrapper{
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-content: center;
        height: 300px;
        padding-bottom: 15px;
        padding-top: 15px;
    } 
    .recReadingItem{ min-height:100%; width: 215px;}
}
@media (max-width: 768px) {
    .recReadingItem{
        border: 5px solid black;
        margin: 0 auto;
        /* max-width: 75%; */
        
    }
}