/* .cardControlSizeWrapper *{outline: 1px solid red;} */
.cardControlSizeWrapper{

    /* cursor: pointer; */
    /* display: flex; */
    outline: 2px solid rgba(255, 255, 255, 0.44);
    /* position: relative; */

    /* right: 1rem; */
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 20;
}

    .tileSizeControls{
        background-color: white;
        color: white;
        font-weight: 400;
        user-select: none;
        /* width: 100%; */
    }

        .tileSizeControls h3{ display: contents;}
            .tileSizeControls p{font-size: 3rem; margin: 0;}

            .controlBtns{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .controlBtns button{
                background-color: white;
                cursor: pointer;
                /* height: auto; */
                margin: 0px;
                outline: 1px solid black;
                padding: 0;
                /* width: 140px; */
                
                /* width: auto; */
            }
            .controlBtns button:hover{
                background-color: black;
                color: white;
            }
                .controlBtns button span{
                    /* background-color: white; */
                    display: block;
                    padding: 10px;
                }
                    .controlBtns button span span{
                        /* background-color: white; */
                        display: initial;
                        font-size: 8px;
                        padding: 5px;
                    }
                

                #cardControlsLargeBtn{display:none;}


                /* Standard Size */
/* Compact     |> Height - 150px  | width - 330px */
/* Comfortable |> Height - auto  | width - 260px */
/* Big         |> Height - auto  | width - 470px */


@media (min-width: 768px) {
    #cardControlsLargeBtn{display:block;}
}

@media (min-width: 375px) {
    .cardControlSizeWrapper{visibility: visible;}
}

@media (max-width: 768px) {
    .myClass{
        /* max-width: 450px; */
    }
    /* .news-square{max-width: 450px !important;} */
}
