/* UI Bar */
/* *{outline: 1px solid red;} */

/* Hiding the filter options ui from the actual page. */
#cardArea > .filterButtonWrapper, #bookmarkWrapper > .filterButtonWrapper{  position: absolute; left: -99999999px; }


/* The overall navbar wrapper */
.headerWrapper{
    /* background-color: black;     */
    display: flex;
        align-items: center;
    height: inherit;
        min-height: 53px;
    /* outline: 2px solid black; */
    width: 100%;
    z-index: 100;
}

/* theKnews text in the navbar */
    .headerText{
        background-color: red;
        color:white;     
        display: flex;
            justify-content: center;           
        width: 100%;
    }
        .headerText > a{
            color: white !important; 
            display: flex;
                align-items: center;
            height: 53px;
        }

        .headerText > a > div{ display: flex; align-items: flex-end; }
        .headerText > a > div > * {
            margin:0;
            padding: 0;
            -webkit-text-stroke: 1px black;
        }
        .headerText > a > div > span{ font-size: x-large; }
    
        #homeBtn > button{ background-color: white !important; color: black !important; }


/* wrapper for the buttons*/
.navWrapper{ 
    background-color: white;
    height: 100%; 
    width: auto; 
}

.newUIBarWrapper{
    align-items: center;
    display: flex;
        flex-direction: row;
        justify-content: flex-end;
    height: inherit;
    width: inherit;
}

#siteWideNavBar{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    height: inherit;
    width: 100%;
}
/* Navbar buttons  */
    .uiBarItem{
        align-items: center;
        background-color: white;
        color: black;
        box-sizing: content-box;
        display: flex;
            /* flex: 1 40%; */
            flex-wrap: wrap;
            justify-content: center;
        height: inherit;
            min-height: 53px;
        /* outline: 2px solid black; */
        position: relative;
    }
    .uiBarItem:focus-visible, .uiBarItem:focus{
        /* background-color: black; */
        /* color: white; */
        outline: 1px solid black;
    }
    
    .uiBarItem:active{
        box-shadow:inset 0px -10px 0px 0px rgb(0, 0, 0);
    }

    .uiBarItem:hover{
        box-shadow:inset 0px -10px 0px 0px rgb(0, 0, 0);
    }

        /* #bookmarkBtn:hover{color: #28a745; } */
        /* #liteKnewsBtn:hover{color: orange; } */
        /* #filterBtn:hover{color: aqua; } */
        /* #changeCardBtn:hover{color: rgb(17, 0, 255); } */
        /* #settingsBtn:hover{color: pink; }  */

/****************** Reload Button */
    
    #reloadBtn > button{border-radius: 0; transition: none; }
    #reloadBtn > button:hover{color: inherit; }

        #reloadBtn > button > span{
            display: flex;
                align-items: center;
            line-height: 0;
        }
        #reloadBtn > button > span > p{margin: 0;}

        #reloadBtn > .btn-primary.focus-visible, #reloadBtn > .btn-primary:focus{
            color: inherit;
            /* animation: animateReloadBtn 1s; */
        }

        #animateReloadBtnBtn :active{
            /* color: red !important; */
            animation: animateReloadBtn 1s;
                animation-fill-mode: forwards;
        }
        @keyframes animateReloadBtn {
            0%{transform: rotateZ(0deg);}            
            50%{transform: rotateZ(240deg);}
            100%{transform: rotateZ(240deg); color: rgb(0, 255, 13);}
        }


        .uiBarItem :focus{
            /* border: 5px solid black !important; */
            /* background-color: black  !important; */
            /* color: white !important; */
        }
        .uiBarItem > div { 
            position: relative; 
            width: 100%; 
        }

        .uiBarItem > button{
            align-items: center;
            border-radius: 0;
            color: inherit;
            display: flex;
            justify-content: center;
            width: max-content;
        } 
            .uiBarItem > button> a:hover{ text-decoration: none; }
            
            .uiBarItem > .btn-link{ color: black; }
                .uiBarItem > .btn-link:hover{ color: black; text-decoration: none; }
           

         
        
        #filterActive{color: aqua;}   
        #filterOptionDisplay > span{ display: flex; align-items: center;}
        #filterOptionDisplay > span > p{display: flex; margin: 0;}

        
        
        /* Dropdown Appearance */
        .uiBarItem > div > .dropdown-menu{
            background-color: #fff0;
            /* transform: translateY(30px)  !important; */
                transform: translateY(44px)  !important;
            
        }
        #settingsDropdown > div > .dropdown-menu{
            transform: translate(-145px,44px)  !important;
        }


            .uiBarItem > div > .dropdown-menu > div{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                animation: showMenuAni 1s; 
                transform: translateY(0px);
            }

            @keyframes showMenuAni {
                0%{ opacity: 0; transform: translateY(100px);}
                15%{opacity: 2; transform: translateY(0px);}
                50%{opacity: 2; transform: translateY(0px);}
                100%{opacity: 2; transform: translateY(0px);}
            }
                .uiBarItem > div > .dropdown-menu > div > button{
                    background-color: white;
                    color: inherit;
                    display: flex;
                        align-items: center;
                    font-weight: 900;
                    /* padding: 15px; */
                        padding-bottom: 15px;
                        padding-top: 15px;
                        padding-left: 12px;
                    width: auto;
                    white-space: nowrap;
                    
                }
                .uiBarItem > div > .dropdown-menu > div > button > span,
                .uiBarItem > div > .dropdown-menu > div > button > i{margin-right: 5px;}

                .uiBarItem > div > .dropdown-menu > div > button:focus,
                .uiBarItem > div > .dropdown-menu > div > button:hover,
                .uiBarItem > div > .dropdown-menu > div > button:active{
                    background-color: black;
                    color: white;
                    /* outline: 1px solid black !important; */
                }


                    .uiBarItem > .dropdown > div{ 
                        border-left: 1px solid black;
                        border-top: 0px solid;
                        border-radius: 0;
                        box-shadow: -10px 0px 0px 0px;
                        padding: 0; 
                       
                        /* width: 100px; */
                        
                    }
         
                        .navBarButton > span{line-height: inherit;}

                        .dropdownBtnTitle{
                            display: flex; 
                            height: 24px;
                            width: 24px;
                            align-items: center; 
                        }
                        .dropdownBtnTitle > *{ font-size: 18px; margin: 0 auto; }
                        .dropdownBtnTitle > p{display: contents;}

                        .navBarButton > p{display: none;} 


/* Just in case I want to use it */
.uiBarDivider{ font-weight: 900; padding: 2px; }


.bookmarkCounter{
    color: black;
    font-variant: diagonal-fractions;
}

/*************************************** Article Page */
/** Score Buttons */
/* overall score wrapper */
#scoreButtons{min-width: min-content;}
    #scoreButtons > button{width: 100%;}
    /* thumb and counter button wrapper */
        #scoreButtons > button > div{ width: inherit; }
            #scoreButtons > button > div > div{ display: flex; justify-content: space-evenly; }
                /* thumb and counter button */
                #scoreButtons > button > div > div > button{
                    background-color: white;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: auto;
                }
                    /* thumb and counter button */
                    #scoreButtons > button > div > div >button:focus:not(:focus-visible){ border: none; }
                    /* thumb and counter wrapper */
                    #scoreButtons > button > div > div > button > span{ display: flex; }
                    /* score counter text */
                    #scoreButtons > button > div > div > button > span > p{margin: 0; margin-left: 3px;}

/*********************************** Bookmark Page */
#bookmarkCountIndicator > div {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}
    #bookmarkCountIndicator > div > p{margin: 0;}

/************************************* In Article Bookmark Controls */
#bookmarkControls{ 
    /* min-width: min-content;  */
    /* outline: 1px solid red;  */
}
    #bookmarkControls > button {
        width: 90%; 
        padding: 0;
        z-index: 0;
    }

        #bookmarkControls > button > .onCardControls{
            background-color: white;
            display: flex; 
                justify-content: space-evenly;
            position: relative;
            width: inherit;
        }
            #bookmarkControls > button > .onCardControls > div > button{
                color: black;
                display: contents;
                /* padding: 0; */
            }
                #bookmarkControls > button > .onCardControls > div > button > span{
                    opacity: 2;
                }
                #bookmarkControls > button > .onCardControls > div > button > span:hover{
                    box-shadow: 0px 14px 0px 0px;
                    /* text-decoration: underline; */

                }
            #bookmarkOptionsMenu > div > div {
                transform: translate(-120px,44px)  !important;
            }




.tags-item-wrapper > .filterButtonWrapper {position: absolute; left: -9999999999px;}


/************************************ liteKnews  */
#navBarLiteKnewsWrapper > button{   
    margin: 0;
    padding: 0;
    width: 100%;
}
    #navBarLiteKnewsControls{
        display: flex;
            justify-content: space-evenly;
        width: 100%;
    }
        #navBarLiteKnewsControls  > button{
            background-color: white;
            min-width: fit-content;
            width: inherit;
        }




/************************************ Tags  */
#articleNumberCount > div > p, #tagPageTitle > div > p{
    margin: 0;
    text-align: center;
    width: 100%;
}

/* customising react.bootstrap  */
.dropdown-toggle::after { display: none !important;}
.btn-primary{border: 0px !important; background: inherit !important;}

.uiBarItem > .dropdown > button {
    align-items: center;  
    display: flex;
    justify-content: center;
    width: 100% !important;   
}

.uiBarItem > a > .dropdown > button{width: 100% !important}

    .uiBarItem > .dropdown > .btn-primary, .uiBarItem > a > .dropdown > .btn-primary{
        background-color: inherit;
        color: black;
    }    
        .uiBarItem > .dropdown > .btn, .uiBarItem > a .dropdown > .btn { border-radius: 0;}

    .btn-primary:not(:disabled):not(.disabled).active, 
    .btn-primary:not(:disabled):not(.disabled):active, 
    .show>.btn-primary.dropdown-toggle{
        color: inherit !important;
        background-color: inherit !important;
    }


/* Media Queries */
@media (min-width: 768px) {

    .headerWrapper{flex-wrap: nowrap; position: fixed;}
        .headerText{width: 40%;}
        .navWrapper{width: 60%;}
            .newUIBarWrapper{width: 100%; }
                #siteWideNavBar{flex-wrap:nowrap; justify-content:  space-evenly; width: 100%;}
                    .uiBarItem{height: auto;}

    .cardsWrapper{margin-top: 55px;}


    /* Bookmark Controls */
    #bookmarkControls > button > .onCardControls > div{
        margin-left: 15px;
        margin-right: 15px ;
    }
}

@media (max-width: 400px) {
    .headerWrapper{flex-wrap: wrap; justify-content: space-around;}
}

@media (max-width: 767px) {
    .headerWrapper{
        flex-wrap: wrap; 
        justify-content: space-around; 
        height: fit-content;
        position: fixed;
    }

     .navWrapper{width: inherit;}
        .newUIBarWrapper{justify-content: space-evenly;}

        #navBarLiteKnewsWrapper{
            background-color: white;
            bottom: 0;
            height: auto;
            position: fixed;
            width: 100%;
            z-index: 50;
        }
}

@media (min-width: 1000px) {
    .headerText{width: 60%}
    .navWrapper{
        position: absolute;
            right: 0;
        width:40%

    }
}


@media (min-width: 2160px) {
    .navWrapper{height: 57px;}
 
    .headerText > a{ height: 57px; }

    .dropdownBtnTitle > div > span > p,
    .dropdownBtnTitle > p,
    .dropdownBtnTitle > *{ font-size: 20px; }
}
@media (min-width: 3000px) {
    .cardsWrapper{margin-top: 85px;}
    .navWrapper{height: 77px;}

    .headerText > a{ height: 77px; }

}

button{ margin: inherit !important; height: inherit !important; }