


.home-wrapper{

}
    .news-item-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

@media (min-width: 768px) {
    .home-wrapper{
        margin: 0 auto;
        /* width: 90%; */
    }
}