


.home-wrapper{
 
}
    .news-item-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 79px;
    }
        .news-item-wrapper div{
        /* border-radius: 10px; */
        width: 100%;
        display: flex;
        /* flex: auto; */
        flex-wrap: wrap;
        
        margin: 0 auto;
        /* max-width: 1600px; */
        }

        .tileSizeControls{
            background-color: grey;
            width:100%;
        }

            .controlBtns{
                display: flex;
            }
                .controlBtns button{
                    margin: 5px;
                    padding: 0;
                    width: 5rem;
                }

@media (min-width: 768px) {
    .home-wrapper{
        margin: 0 auto;
        /* width: 90%; */
    }
    .news-item-wrapper{
        margin-top: 119px;
    }
}