.news-page-wrapper{
    /* border: 1px solid; */
    /* width: 90%; */
    margin: 0 auto;
    /* max-width: 1920px; */

}
    .back-button{
        margin: 0 auto;
        max-width: 1200px;
    }
    .back-button a{
        color: black;
        text-decoration: none;
    }

        .back-button a p{
            background-color: #0000000f;
        }

    .news-page-header-image{
        height: 300px;
    }
    .news-article-header{
        /* border:1px solid red; */
        text-align: center;
    }
    .news-page-article{
        /* background-color: red; */
    }

    section h1,
    section h2,
    section h3{
        text-align: center;
    }

    .news-article-body{
        margin: 0 auto;
        max-width: 1200px;
    }
    .article-title{
        
    }

    .article-author{

    }
    .article-banner-image-wrapper{
        display: flex;
    }
        .article-banner-image{
            
        }
        .extra-banner-image{
            display: none;
        }

    .article-text{
        padding: 5px;
        line-height: 1.5rem;
        /* max-width: 600px; */
        max-width: 35rem;
        margin: 0 auto;
        white-space: pre-wrap;
    }

    .article-likes{
        padding: 5px;
    }

    .article-dislikes{
        padding: 5px;
    }

    .extra-images, .extra-text{
        display: none;
    }

    .social{
        margin: 0 auto;
        max-width: 35rem;
    }



@media (min-width: 1600px) {


        .news-article-body{
            display: flex;
        }
        .extra-images{
            display: block;
            flex:1;
        }
            .extra-images img{
                width: 100%;
            }
        section{
            /* background-color: grey; */
            /* border: 1px solid red; */
            width: 50%;
        }
    }

    @media(min-width: 1921px){
        .extra-banner-image{
            display: flex;
        }
    }