.articlePopupBackground{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000075;
}
.article-popup{
    border: 10px solid black;
    display: none;
    width: 90%;
    margin: 0px auto;
    background-color: white;
    overflow: auto;
    height: 60vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 4vw;
    height: 100vh;
}
    .article-popup img{
        width: 100%;
        height: auto;
    }

    .article-popup section{
        /* border: 1px solid red; */
        font-size: 1.25rem;
        margin: 0 auto;
        width: 75%;
       
        
    }
    /* .article-popup section h3{
        text-align: left;
    } */