
.social{
    display: flex;
    margin: 0 auto;
    max-width: 35rem;
    text-align: center;
}
    .social div{
        /* border: 1px solid black; */
        display: flex;
        flex: 1 1;
        width:50%;
    }

    .article-likes span, .article-dislikes span{
        flex: 1 1;
    }

    .social-score{
        background-color: black;
        color: white;
        text-align: center;  
        
        cursor: pointer;
        padding: 0.8rem;
    }
        .social-score:active{
            box-shadow: 0px 0px 0px 1px black;            
        }
        .voteArrow{
            font-size: 2rem;
        }
        .pos{
            background-color: rgba(0, 128, 0, 0.75);
        }

        .neg{
            background-color: rgba(255, 0, 0, 0.75);
        }



    .article-likes{
        /* padding: 5px; */
    }

    .article-dislikes{
        /* padding: 5px; */
    }
