.speedKnewsArticleContainer > .onCardControls > div {
    position: relative;
    display: inline-flex;
}

#loading-article{background: white;}

.progress {
    height: 20px;
    background: red;
    border: 1px solid black;
  }
  /* .progress::-moz-progress-bar{ background: red; } */
  .progress::-webkit-progress-bar{ background: transparent; }
  .progress::-webkit-progress-value{ background: black; }

  /* Changing Colour when progress bar completes */
   .progressBarChange::-webkit-progress-value{ background: #6eff00;  border: 1px solid #6eff00;}

