.article-banner-image-wrapper{
    display: flex;
}
    .article-banner-image{
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        /* max-width: 1800px; */
        margin: 0 auto;
        width: 100%;
    }
    .article-banner-image:nth-child(2){
        display: none;
    }

    
@media (min-width: 1600px) {

    .article-banner-image:nth-child(2){
        display: block;
    }
}

@media (min-width: 1200px) {
    .article-banner-image{
        height: 83vh;
    }
}

@media (min-width: 1600px) {
    .article-banner-image{
        height: 95vh;
    }
}

@media (min-width: 2300px) {
    .article-banner-image{
        height: 86vh;
    }

}