#optionsMenuWrapper{
    background-color: black;
    bottom: 0;
    left: 2vw;
    outline: 5px solid white;
    position: fixed;
    z-index: 2;
}
    #optionsMenuIcon{
        color: white;
        cursor: pointer;
        font-size:35px;
        /* transform: translate3d(0, 0, 0); */
        transition: 0.25s linear;

    }
        .animateIcon{
            /* color: red !important; */
            transform: rotate(180deg)
        }
    #optionsMenuPopup{
        background-color: white;
        border: 1px solid red;
        bottom: 0vh;
        height: 400px;
        left: 5vw;
        position:fixed;
        visibility: visible;
        width: 400px;
        
    }



 