#optionsMenuWrapper{
    background-color: white;
    padding: 3px;
    width: auto;
}
    #optionsMenuWrapper span{
        align-items: center;
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        /* outline: 1px solid red; */
    }
    #optionsMenuWrapper span p{
        cursor: default;
        font-weight: 900;
        margin-bottom: 0;
        margin-right:30px;
        white-space: nowrap;
    }
    #optionsMenuWrapper > span > a{
        background-color: black;
    }
    #optionsMenuWrapper > span > a:hover{
        text-decoration: none;
        background-color: red

    }
    #optionsMenuWrapper > span > a > button{
        background-color: inherit;
        color: white;
        width: auto;
    }
/* 

    #optionsMenuIcon{
        color: white;
        cursor: pointer;
        font-size:35px;
        transition: 0.5s linear;
    }
 
        

    #optionsMenuPopup{
        background-color: white;
        border: 5px solid;
        bottom: 0px;
        height: 30px;
        left: 50px;
        overflow: auto;
        position:fixed;
        width: 0;

        transition: 0.2s linear;
        
    }
    .animateMenuPopup{
        margin-bottom: 0;
        height: 270px !important;
        width: 400px !important;
        overflow: visible;
    }
    .animateOptionsMenuWrapper{
        height: 275px !important
    }

    .animateIcon{
        transform: rotate(180deg)
    }


    #optionsMenuPopup div p{
        width: 50%;
        border-right: 3px solid #0000007a;
    }
        #optionsMenuPopup div span{
            align-items: center;
            display: flex;
            padding: 5px;
        }
            #optionsMenuPopup div span a button{
                background-color: black;
                color: white;
                cursor: pointer;
                font-weight: 800;
                outline: 1px solid black;
            }


  */