#optionsMenuWrapper{
    background-color: white;
    /* padding: 3px; */
    width: auto;
}

    #optionsMenuWrapper > .accordion > .card {
        background-color: white;
        border: none;
            border-radius: 0;
        color: black;
        outline: 1px solid rgb(108 117 125 / 25%);
        white-space: nowrap;
    }

    #optionsMenuWrapper > .accordion > .card:hover {
        text-decoration: none !important;
    }

        /* Menu Accordion Header */
        #optionsMenuWrapper > .accordion > .card > .card-header{
            background-color: inherit;
            
            padding: 0;


        }
        #optionsMenuWrapper > .accordion > .card > .card-header:hover{
          
        }
            #optionsMenuWrapper > .accordion > .card > .card-header > button{
                color: inherit;
                padding-bottom: 30px;
                padding-left: 10px;
                padding-top: 30px;
                text-align: left;
                width: 100%;
            }
            #optionsMenuWrapper > .accordion > .card > .card-header > button:hover{
                text-decoration: inherit;
            }

        /* Menu Accordion Items */
        .accordionItems{
            white-space: nowrap;
            /* animation:smoothAccordion 1s; */
                animation-fill-mode: forwards;
                
        }
        .accordionItems > span > div{flex-direction: column;}
        @keyframes smoothAccordion {
            0%{
                opacity: 0;
                height: 0;
            }
            50%{
                opacity: 2;
                height: 50px ; 
            }
            
            100%{
                opacity: 2;
                height: 50px ; 
            }
        }
        .accordionItems:hover{
            background-color: black; 
            color:  white;
        }
        .card > div:nth-child(N+2){
            /* padding: 10px; */

        }
         .accordionItems > span{
                /* width: 100%; */
                background-color: #6c757d ;
                color: white;
                display: flex;
                    /* align-items: center; */
                padding-bottom: 20px;
                padding-left: 20px;
                padding-top: 20px;
                position: relative;
                width: 100%;
            }
            .accordionItems > span:hover{
                background-color: black;
                cursor: pointer;
            }
            .accordionItems > span > span{
                position: absolute;
                left: 5px;
            }
            .accordionItems > span > a {
                color: white;
                display: flex;
            }
            .accordionItems > span > a:hover{
                text-decoration: none;
                /* font-weight: bolder; */
            }
                .accordionItems > span > a > span{
                    margin-right: 10px;
                }


        /* button{width: 100% !important} */



    /* #optionsMenuWrapper span{
        align-items: center;
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #optionsMenuWrapper span p{
        cursor: default;
        font-weight: 900;
        margin-bottom: 0;
        margin-right:30px;
        white-space: nowrap;
    }
    #optionsMenuWrapper > span > a{
        background-color: black;
    }
    #optionsMenuWrapper > span > a:hover{
        text-decoration: none;
        background-color: red

    }
    #optionsMenuWrapper > span > a > button{
        background-color: inherit;
        color: white;
        width: auto;
    } */
/* 

    #optionsMenuIcon{
        color: white;
        cursor: pointer;
        font-size:35px;
        transition: 0.5s linear;
    }
 
        

    #optionsMenuPopup{
        background-color: white;
        border: 5px solid;
        bottom: 0px;
        height: 30px;
        left: 50px;
        overflow: auto;
        position:fixed;
        width: 0;

        transition: 0.2s linear;
        
    }
    .animateMenuPopup{
        margin-bottom: 0;
        height: 270px !important;
        width: 400px !important;
        overflow: visible;
    }
    .animateOptionsMenuWrapper{
        height: 275px !important
    }

    .animateIcon{
        transform: rotate(180deg)
    }


    #optionsMenuPopup div p{
        width: 50%;
        border-right: 3px solid #0000007a;
    }
        #optionsMenuPopup div span{
            align-items: center;
            display: flex;
            padding: 5px;
        }
            #optionsMenuPopup div span a button{
                background-color: black;
                color: white;
                cursor: pointer;
                font-weight: 800;
                outline: 1px solid black;
            }


  */